<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Create Mongo</title>
    <title>View Engine</title>
</head>
<body>
    <h1>Produtos:</h1>


      <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID:</th>
      <th scope="col">Nome do Produto:</th>
      <th scope="col">Preço do Produto:</th>
      <th scope="col">Descrição do Produto:</th>
      {{!-- <th scope="col">Imagem URL:</th> --}}
      <th scope="col">Detalhes:</th>
    </tr>
  </thead>
  <tbody>
{{#each products}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.description}}</td>
      {{!-- <td>{{this.imageUrl}}</td> --}}
      <td><a href="product/{{this._id}}">Visualizar</a></td>
    </tr>
    
  </tbody>
{{/each}}
</table>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>        
</body>
</html>